
		:root{
			--gra: linear-gradient(45deg, rgb(151, 174, 182), rgb(49, 52, 61));
		}
		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}
		main{
			width: 100%;
			font-family: sans-serif;
		}
 /******header******/
		header{
			width: 100%;
			border-bottom: 2px solid #e5e5e5;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		header ul li{
			list-style: none;
			padding: 20px;
			margin: 10px;
			float: left;
			font-size: 20px;
			border-radius: 35px;

		}
		header ul li a{
			color: inherit;
			text-decoration: none;
		}
		header ul li.active{
			background: var(--gra);
		}
		header ul li.active a{
			color: white;
			font-weight: bold;
		}
		.filter-condition{
			padding: 20px;
			height: 100px;
			font-size: 20px;
			font-weight: bold;
		}
		.filter-condition select{
			width: 120px;
		    padding: 20px 10px 0 10px;
		    border: none;
		    outline: none;
		    font-weight: bold;
		    color: rgb(4, 4, 4);
		    background: transparent;
		    cursor: pointer;
		}

		/***product***/
		.product-field{
			padding: 40px 20px;
		}
		.product-field ul{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
		}
		.product-field ul li{
			list-style: none;
			width: 25.4%;
			height: 400px;
			transition: 0.5s all;
			background: rgb(226, 234, 239);
			overflow: hidden;
			border-radius: 20px;
			padding: 10px;
			margin: 20px 100px 40px 10px;
			position: relative;
		}
		picture{
			padding: 70px;
		    position: absolute;
		    right: 0;
		    bottom: 41%;
		    width: 75%;
		    height: 120%;
		    border-radius: 50px 20px 0 20px;
		    overflow: hidden;
		}
		picture img {
		  width: 100%;
		  margin-top: 10rem;
		  z-index: 1;
		  padding: 25px 0 0 0;
		}
		.detail{
			width: 100%;
			height: 100%;
		}
		.detail .icon{
			width: 30%;
		    height: 55%;
		    padding: 20px 5px;
		}
		.icon span{
			background: #00000030;
		    display: inline-block;
		    width: 50px;
		    height: 50px;
		    line-height: 50px;
		    text-align: center;
		    padding: 0;
		    border-radius: 50%;
		    margin: 0 0 10px 20px;
		    font-size: 22px;
		    color: rgb(34, 34, 41);
		}
		.icon span:hover{
			background: var(--gra);
			cursor: pointer;
		}
		.detail > strong{
			display: inherit;
			margin: 20px;
			font-size: 22px;
			letter-spacing: 2px;
			color: #555;
		}
		.detail > span{
			display: inherit;
			padding: 0 20px;
    		width: 80%;
		}
		.detail small{
			display: inline-block;
		    padding: 8px 20px;
		    margin: 15px;
		    font-weight: bold;
		    border-radius: 6px;
		    border: 1px solid #999;
		    cursor: pointer;
		}
		.detail small:hover{
			    background: var(--gra);
			    color: rgb(29, 7, 7);
			    border-color:#659ec9;
		}
		li h4{
		    position: absolute;
		    right: 10px;
		    top: 50%;
			margin-top: 7rem;
			margin-right: 7rem;
		    font-size: 30px;
		    color: #a79c9c;
		    text-shadow: 1px 1px 2px black;
		}



		/* Form Styling */
form {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
  }
  
  input[type="text"] {
	margin-top: 2.7rem;
	width: 50%;
	height: 30px; /* set the height to 30 pixels */
	padding: 10px;
	margin-right: 10px;
	font-family: 'Poppins', sans-serif;
	background-color: #f2f2f2;
	border: none;
	outline: none;
	border-radius: 5px;
}

  
  select {
	padding: 10px;
	margin-left: 0;
	font-family: 'Poppins', sans-serif;
	background-color: #f2f2f2;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
  }

  input[type="text"], select {
	border: 1px solid #ccc;
  }
  
  /* Filter Condition Styling */
  .filter-condition {
	display: flex;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #333;
  }
  
  .filter-condition span {
	margin-right: 0;
	font-size: 18px;
	margin-top: 1rem;
  }
  
  .filter-condition select {
	margin-left: 0;
  }
  
  .srch {
	margin-top: 2.7rem;
	width: 5%;
	height: 30px; /* set the height to 30 pixels */
	padding: 10px;
	margin-right: 10px;
	font-family: 'Poppins', sans-serif;
	background-color: #1e1919;
	color: white;
	border: none;
	outline: none;
	border-radius: 5px;
  }
  .srch:hover {
	background-color: #659ec9;
  }
/*****magnifier*********/
/* Magnifying glass element */
.magnify {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  
  /* Magnified image */
  .magnify img {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 25px;
	left: 55px;
  }